* {
    margin:0;
}

body {
    text-align: center;
    margin: 0;
    padding: 0em 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    padding: 1em 0em;
    background-color: #4876bf;
    color: white;
}

.formWrap {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 3em;
    background-color: #D5D9DE;
}

button {
    margin: 0.3em;
}

.homeButton > button {
    all: unset;
    color: white;
    border: 2px solid white;
    padding: 0.2em;
}

.homeButton {
    position: absolute;
    top: 1em;
    left: 2em;
}

.logOutButton {
    position: absolute;
    top: 1em;
    right: 2em;
}

.logOutButton > button {
    all: unset;
    color: white;
    border: 2px solid white;
    padding: 0.2em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
